<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую книгу</title>
</head>
<body>
<form th:action="@{/newbook}" method="post" enctype="multipart/form-data">
    <div><label> Название: <input type="text" name="title"/> </label></div>
    <br>
    <div><label> Автор: <input type="text" name="author"/> </label></div>
    <br>
    <div><label> Жанр: <input type="text" name="genre"/> </label></div>
    <br>
    <div><label> Обложка <input type="file" name="icon"></label></div>
    <br>
    <div><label> Файл <input type="file" name="file"></label></div>
    <br>
    <input type="submit" value="Сохранить книгу"/>
</form>

<p><a th:href="@{/}">Вернуться на главную страницу</a></p>
</body>
</html>